<div class="col-md-12">
  <div class="well">
    <h3><%= task.description %></h3>
    <p><%= local_time(task.deadline, '%B %e, %Y %l:%M%P') %></p>
    <p class="pull-right">
      <%= link_to "Edit", edit_task_path(task), remote: true %>	  
      <%= link_to "Delete", task, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
</div>